.view-more-button {
  width: auto;
  height: 40px;
  border-radius: 5px;
  border-color: #c0c0c0;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  font-weight: bolder;
  padding: 1% 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .view-more-button {
    width: 80px;
    height: 30px;
  }
}
